[project]
	description = Messing about with blessings for printing pretty things in the terminal
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Jonathan Hartley (tartley)
[access "refs/for/refs/*"]
	read = group user/Jonathan Hartley (tartley)
	push = group user/Jonathan Hartley (tartley)
	label-Code-Review = -2..+2 group user/Jonathan Hartley (tartley)
	label-Verified = -1..+1 group user/Jonathan Hartley (tartley)
	rebase = group user/Jonathan Hartley (tartley)
	removeReviewer = group user/Jonathan Hartley (tartley)
	submit = group user/Jonathan Hartley (tartley)
[access "refs/heads/*"]
	read = group user/Jonathan Hartley (tartley)
	create = group user/Jonathan Hartley (tartley)
	push = +force group user/Jonathan Hartley (tartley)
	pushMerge = group user/Jonathan Hartley (tartley)
[access "refs/tags/*"]
	push = +force group user/Jonathan Hartley (tartley)
	pushTag = group user/Jonathan Hartley (tartley)
	pushSignedTag = group user/Jonathan Hartley (tartley)
